body {
    min-width: 840px;
    font-family: 'Arial', sans-serif;
}

header {
    height: 120px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.95); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay>div{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#resume{
    display:none;
}

.headerPanel {
    height: 100px;
    float: left;
    background-color: #ddd;
    margin-right: 10px;
    border: 3px black solid;
}

/*YELLOW ASSIGN UNIT PANEL*/
#assignUnit {
    height: 50px;
    background-color: rgb(255, 255, 128);
    opacity: 0;
    padding: 5px;
}

#assignUnit>div>* {    
    float: right;
}

#assignUnit input {
    width: 30px;
    margin: 0 0 3px 0;
}

#assignUnit p {
    margin: 0 6px 3px 0;
}

#time {
    position: absolute;
    margin-left: 27px;
    top: 79px;
    height: 25px;
    padding: 2px 5px;
    text-align: center;
}

#pause {
    margin: 2px 0 0 25px;
}

/*STATUS OF EACH PLATOON PANEL*/
#status {
    width: 170px;
    padding: 0;
}

#status .moving {
    background: rgba(255, 255, 128,.5);
}

#status .returning {
    background: rgba(0, 0, 255,.2);
}

#status #status2.base,#status4.base,#status2.stopped,#status4.stopped {
    background-color: #ccc;
}
#status #status1.moving,#status3.moving {
    background: rgba(255, 255, 128,.3);
}
#status #status1.returning,#status3.returning {
    background: rgba(0, 0, 255,.125);
}

#status > div {
    padding: 0 0 0 5px;
    height: 25%;
}

#status > div  > * {
    display: inline-block;
    margin: 7px 0 0 0;
    font-size: .72em;
    padding: 0;
    line-height: 12px; 
}

#status button {
    float: right;
    vertical-align: top;
    margin: 5px 5px 0 5px;
    font-size: .6em;
    opacity: 0;
}

/*SCORE PANEL*/
#scorePanel2 {
    display: none;
    padding: 0 3px 0 3px;
    position: absolute;
    width: 100px;
}
#progShell2 {
    margin: auto;
    height: 75%;
    width: 20px;
    background-color: white;
    position: relative;
    border: 1px solid black;
}

#prog2 {
    background-color: #ffff80;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
}
/*SCORE PANEL*/

/*CHECKBOX PANEL*/
#cbPanel {
    position: absolute;
    font-size: .80em;    
    margin-left: 10px;
    padding: 0;
}
#cbPanel ul {
    width: 100%;
    padding: 0;
    margin: 5px;
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}
#cbPanel li {
    margin: 0 0 4px 0;
    line-height: 1.25;
}

#cbPanel li span {
    visibility: hidden;
}

#cbPanel li span.show {
    visibility: visible;
}

#cbPanel button {
    font-size: 1em;    
    padding: 2px 2px;
    border: none;
    background-color: #ddd;
    outline: none;
}

#cbPanel button:hover {
    background-color: #ccc;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 72px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;    
}

.dropdowncontent a {
  color: black;
  margin: 0;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
}

.dropdowncontent.show {
    display:block;
}

.dropdowncontent a:hover {
    background-color: #ddd;
}

.dropdowncontent a.disabled {
    background-color: #f1f1f1;
    color: gray;
    cursor: default;
}

#cbPanel li.checked {
    text-decoration: line-through;
}

#cbPanel input:focus {
    outline: 0;
}
/*CHECKBOX PANEL*/

#colNames {
    height: 20px;
    border-left: 3px white solid;
    margin-left: 26px;
}

#colNames div {
    display: inline-block;
    text-align: center;
    margin: 0;
}

#rowNames {
    float: left;
    border: 3px white solid;
    width: 20px;
}

#rowNames > div {
    margin: 0px 5px 0px 0;
    text-align: right;
    position: relative;
    width: 100%;
}

#rowNames span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: right;
}

#mapPanel {
    background-color: #aaa;
    height: 420px;
    width: 50%;
    min-width: 420px;
    border: 3px black solid;
    float: left;
    background-image: url(map1.JPG);
    background-size: cover;
    font-size: 0em;
}

.mapSquare {
    background-color: transparent;
    display: inline-block;
    border: 1px black solid;
    position: relative;
}

.mapSquare.hover {
    background-color: white;
    opacity: 0.5;
}

.mapSquare.clicked {
    background-color: transparent;
    opacity: 1;
}

.plt {
    width: 72%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 38% 12% 2% 12%;
    cursor: pointer;
}

.plt.highlight {
    border: 1px solid yellow;
}

.plt.hidden {
    display: none !important;
}

.arrow {
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;   
}

.arrow.moving {
    background-color: yellow;
}
.arrow.returning {
    background-color: #3d7eff;
}
       
.x {
    width: 100%;
    height: 8px;
}

.y {
    width: 8px;
    height: 100%;
}

.endpoint.up {
    height: 50%;
    bottom: 50%;
}

.endpoint.down {
    height: 50%;
    top: 50%;
}

.endpoint.left {
    width: 50%;
    right: 50%;
}

.endpoint.right {
    width: 50%;
    left: 50%;
}

.endarrow {
    height: 0;
    width: 0;
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.endarrow.moving {
    border: 10px solid yellow;
}

.endarrow.returning {
    border: 10px solid #3d7eff;
}

.endarrow.up {
    top: auto;
    border-top: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
}
.endarrow.down {
    bottom: auto;
    border-bottom: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
}
.endarrow.left {
    left: auto;
    border-left: 0px;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.endarrow.right {
    right: auto;
    border-right: 0px;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.panel {
    float: left;
    background-color: #ccc;
    width: 40%;
    
    margin-left: 10px;
    border: 3px black solid; 
    overflow: hidden;
}

#intelPanel {
    min-width: 360px;
}

#intelHeading {
    width: 100%;
    margin: auto;
    background-color: #ddd;
}

#intelHeading h3 {
    margin-left: 45%;
    display: inline;
}

#intelHeading li {
    display: inline;
}


.half {
    display: inline-block;
    width: 49.25%;
    margin: 0;
    height: 90%;
    vertical-align: top;
}

.intelTBs {
    width: 98%;
    margin: auto;
    background-color: #fff;
    border: 1px black solid;
    padding: 0;
    height: 98%;
    overflow-y: scroll;
    margin-top: 5px;
    display: block;
}

.intelTBs p {
    margin: 0 0 0 3px;
    font-size: .75em;
}

.hvtinfo {
    line-height: 2;
}

.hvtinfo span {
    display: none;
}

.hvtinfo button {
    font-size: .8em;
}

h3 {
    margin: 0;
    text-align: center;
    background-color: #ddd;   
}

h4 {
    font-size: .75em;
    margin: 0;
    text-align: center;
    background-color: #cbc1f0;
}

#capturePanel {
    position: absolute;
}

#captureTB {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
    height: 85%;
    border: 1px black solid;
    overflow-y: scroll;
}

#captureTB p {
    margin: 0 0 0 3px;
    font-size: .75em;
}

#scorePanel {
    position: absolute;
}

#progShell {
    margin:auto;
    margin-top: 5px;
    height: 85%;
    width: 50px;
    background-color: white;
    position: relative;
    border: 1px solid black;
}

#prog {
    background-color: #ffff80;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
}


